.text {
    font-size: 2rem;
    line-height: 1.2em;
    
}

.text-chapter {
    font-size: 2.5rem;
    margin-bottom: 1.3em;
    line-height: 1.5em;
    @include breakpoint($mobile-bp) {
        font-size: 1.9rem;
    }
    &--withImg {
        max-width: 60%;
    }
    &--withImg700 {
        
        @include breakpoint($tablet-bp) {
            max-width: 60%;
        }
        @include breakpoint($between-bp) {
            max-width: 95%;
        }
    }
    
    
}
.text-poem{
    color: $orange;
    line-height: 2em;
    margin-left: 10%;
}
.subtitle {
    font-size: 4rem;
    line-height: 1.25em;
    font-family: $americaFont;
    @include breakpoint($between-bp) {
        font-size: 3rem;
    }
}
.title {
    font-size: 6rem;
    font-family: $americaFont;
    &--chapter {
        margin-bottom: 1.16em;
        transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        -o-transform: translate(0, -100%);
        opacity: 0;
        transition: 0.8s ease-in;
        -webkit-transition: 0.8s ease-in;
        -moz-transition: 0.8s ease-in;
        -ms-transition: 0.8s ease-in;
        -o-transition: 0.8s ease-in;
        &.__active {
                transform: translate(0, 0);
                -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                -o-transform: translate(0, 0);
                opacity: 1;
        }
        @include breakpoint($tablet-bp) {
            font-size: 5rem;
            margin-bottom: 1em;
        }
        @include breakpoint($anim-bp600) {
            font-size: 4rem;
        }
        @include breakpoint($anim-bp500) {
            font-size: 3rem;
            // margin-bottom: 1em;
        }
    }
}
.number {
    font-size: 7rem;
    line-height: 1em;
    font-family: $americaFont;
    @include breakpoint($tablet-bp) {
        font-size: 4rem;
    }
}