/* colors */
$black: #0c0c0c; 
$green: #053404;
$white: #fff;
$beige: #f8f8d9;
$yellow: #E7D960;
$orange: #A64109;
// $number: #E7E7E8;
$americaFont: 'America', serif;
$golosFont: 'Golos', sans-serif;

$anim-bp: 1200px;
$anim-bp900: 900px;
$anim-bp500: 500px;
$anim-bp600: 600px;
$anim-bp300: 300px;
$tablet-bp: 800px;
$between-bp: 700px;
$mobile-bp: 400px;