<section class="dialogFairies">
    <div class="container">
        <div class="dialogFairies__wrap">
            <div class="dialogFairies__phrase">
                <p class="subtitle dialogFairies__title">Фея Счастья</p>
                <p class="text dialogFairies__text anim-items">— Нужно тебе сказать, — закончила она, — что у меня сегодня день рождения, и в честь этого события мне дали пару калош, с тем чтобы я отнесла их людям. Эти калоши обладают одним замечательным свойством: того, кто их наденет, они могут мгновенно перенести в любое место и любую эпоху — стоит ему только пожелать, — и от этого он почувствует себя совершенно счастливым.</p>
            </div>
            <div class="dialogFairies__phrase dialogFairies__phrase--right">
                <p class="subtitle dialogFairies__title">Фея Печали</p>
                <p class="text dialogFairies__text anim-items">— Ты так думаешь? — отозвалась фея Печали, — Знай же: он будет самым несчастным человеком на земле и благословит ту минуту, когда наконец избавится от своих калош.</p>
            </div>
            <div class="dialogFairies__phrase">
                <p class="subtitle dialogFairies__title">Фея Счастья</p>
                <p class="text dialogFairies__text anim-items">— Ну, это мы еще посмотрим! — проговорила фея Счастья, — А пока что я поставлю их у дверей. Авось кто-нибудь их наденет по ошибке вместо своих и обретет счастье.</p>
            </div>
        </div>
    </div>
</section>