<section class="dragFairy">
    <div class="container">
        <div class="dragFairy__wrap">
            <div class="dragFairy__left">
                <img class="dragFairy__img droppable" id="gate" src="/assets/img/fairyHappy.png" alt="">
            </div>
            <div class="dragFairy__right">
                <p class="text dragFairy__text">У Феи Счастья сегодня день рождения. </br>Подари ей эти чудесные калоши.</p>
                
                
                <img class="dragFairy__img-gal" id="ball" width="80px" src="/assets/img/galoshesTwo.png" alt="">
            </div>
        </div>
    </div>
</section>