<section class="fairies">
    <div class="container">
        <div class="fairies__wrap">
            <div class="fairies__left">
                <div class="fairies__img-wrap">
                    <img class="fairies__img" src="/assets/img/fairyHappy.png" alt="">
                </div>
                <div class="fairies__text">
                    <p class="subtitle fairies__title">Фея Счастья</p>
                    <p class="text fairies__descr anim-items anim-no-hide">Младшая была если и не самой феей Счастья, то, уж наверно, камеристкой одной из ее многочисленных камер-фрейлин и занималась тем, что приносила людям разные мелкие дары Счастья.</p>
                </div>
            </div>
            <div class="fairies__right">
                <div class="fairies__img-wrap">
                    <img class="fairies__img" src="/assets/img/fairySad.png" alt="">
                </div>
                <div class="fairies__text">
                    <p class="subtitle fairies__title">Фея Печали</p>
                    <p class="text fairies__descr anim-items anim-no-hide">Старшая казалась гораздо более серьезной – она была феей Печали и всегда управлялась со своими делами сама, не поручая их никому: так, по крайней мере, она знала, что все наверняка будет сделано как следует.</p>
                </div>
            </div>
        </div>
    </div>
</section>