<header class="header">
    <div class="container">
        <div class="header__wrap">
            <img class="header__title" src="../assets/img/bigTitle.png" alt="">
            <div class="animate">
                <img class="animate__img" id="animate__img--1" src="../assets/img/galoshes2.png" alt="">
                <img class="animate__img" id="animate__img--2" src="../assets/img/galoshes2.png" alt="">
            </div>
            <div class="header__descr anim-items anim-no-hide" id="content"></div>
        </div>
        <!-- <p class="header__descr">&#10059; По мотивам сказки Ганса Христиана Андерсена «Калоши счастья»</p> -->
    </div>
</header>
