<section class="map">
    <div class="container">
        <div class="map__wrap">
            <a class="map__item" href="chapter1.html">
                <!-- <img class="map__img-out" src="/assets/img/quotes.png" alt=""> -->
                <p class="number map__number">I.</p>
                <p class="text map__title">Счастье </br>— в прошлом.</p>
            </a>
            <a class="map__item" href="chapter2.html">
                <!-- <img class="map__img-out" src="/assets/img/quotes.png" alt=""> -->
                <p class="number map__number">II.</p>
                <p class="text map__title">Счастье </br>— в беззаботности.</p>
            </a>
            <a class="map__item" href="chapter3.html">
                <p class="number map__number">III.</p>
                <p class="text map__title">Счастье </br>— видеть людей насквозь.</p>
            </a>
            <a class="map__item" href="chapter4.html">
                <!-- <img class="map__img-out" src="/assets/img/quotes.png" alt=""> -->
                <p class="number map__number">IV.</p>
                <p class="text map__title">Счастье </br>— лететь, куда хочешь.</p>
            </a>
            <a class="map__item" href="chapter5.html">
                <!-- <img class="map__img-out" src="/assets/img/quotes.png" alt=""> -->
                <p class="number map__number">V.</p>
                <p class="text map__title">Счастье </br>— странствовать по миру.</p>
            </a>
        </div>
    </div>
</section>