<div class="menu menu--open">
    <img class="menu--open__img-left" src="/assets/img/ornamentAll.png" alt="" >
    <img class="menu--open__img-right" src="/assets/img/ornamentAll.png" alt="" >
    <div class="container">
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="index.html">Главная</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="chapter1.html">I. Что произошло с советником юстиции</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="chapter2.html">II. Приключения сторожа</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="chapter3.html">III. "Головоломка". Декламация. Совершенно необычайное путешествие</a></li>
            <li class="menu__item">
                <a class="menu__link" href="chapter4.html">IV. Превращения полицейского писаря</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="chapter5.html">V. Лучшее, что сделали калоши</a>
            </li>
            <li class="menu__item">
                <a class="menu__link menu__close-btn" href="">&#10006;</a>
            </li>
        </ul>
    </div>
</div>
